.ellipsis {
  width: calc(100%);
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: calc(-20px);
}
.ellipsis ::deep .tooltip {
  width: 100%;
}
.ellipsis ::deep .tooltip .tooltip--target {
  width: 100%;
}
.ellipsis .ellipsis__content {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  color: var(--bdr-strong-3_gray-normal);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.error .ellipsis__content {
  color: var(--bdr-strong-1_critical-normal);
}
