.tooltip {
  display: inline-flex;
  position: relative;
}
.tooltip--target {
  display: inline-flex;
}
.tooltip--warp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
.tooltip--background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.tooltip--content {
  position: absolute;
  max-width: 240px !important;
  background-color: var(--tooltip-background-color);
  font-size: var(--tooltip-font-size);
  color: var(--tooltip-font-color);
  padding: var(--tooltip-padding-top) var(--tooltip-padding-right) var(--tooltip-padding-bottom) var(--tooltip-padding-left);
  border-radius: 4px;
  font-weight: 400;
  overflow: auto;
  word-wrap: break-word;
  text-align: unset;
  box-sizing: border-box;
  z-index: 999;
}
.tooltip--content::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
.tooltip--content::-webkit-scrollbar-track {
  background-color: var(--scrollbar-background-color-track);
  border-radius: 4px;
}
.tooltip--content::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-background-color-thumb);
  border-radius: 4px;
}
.tooltip--content::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-background-color-thumb_hover);
}
.tooltip-body .tooltip--title {
  display: flex;
  align-items: flex-end;
  height: var(--tooltip-title-height);
  line-height: var(--tooltip-title-line-height);
  color: var(--tooltip-title-color);
  font-weight: 700;
  font-size: var(--tooltip-title-font-size);
}
.tooltip-body ::deep .divider {
  margin-top: 4px;
  margin-bottom: 4px;
}
