<div class="@IconClass">
  @if (!string.IsNullOrEmpty(MaskStyle))
  {
    <div class="mask-icon">
      <div style="@MaskStyle"></div>
    </div>
  }
  @if (!string.IsNullOrEmpty(ImageSrc))
  {
    <div class="image-icon">
      <img src="@ImageSrc" alt=""/>
    </div>
  }
</div>

@code {
  [Parameter] public bool Disable { get; set; }
  [Parameter] public bool KeepActive { get; set; }
  [Parameter] public bool IsHover { get; set; }
  [Parameter] public bool IsActive { get; set; }
  [Parameter] public string Class { get; set; } = string.Empty;
  [Parameter] public string SrcString { get; set; } = string.Empty;
  [Parameter] public IconSrc SrcObject { get; set; } = new();

  private string ImageSrc
  {
    get
    {
      if (Disable) return SrcObject.Disable ?? SrcObject.Normal;
      if (IsActive || KeepActive) return SrcObject.Active;
      return IsHover ? SrcObject.Hover : SrcObject.Normal;
    }
  }
  private string MaskStyle => string.IsNullOrEmpty(SrcString) ? string.Empty
    : $"mask-image:url({SrcString});-webkit-mask-image:url({SrcString});";
  private string IconClass => $"aics-icon {(string.IsNullOrEmpty(Class) ? Class : string.Empty)}";

}
