<div class="base-layout">
  <AicsLoading Show="@_loading"/>
</div>

@code {

  private bool _loading;

  protected override void OnInitialized()
  {
    AppStore.Loading.Subscribe(onNext: list =>
    {
      _loading = list.Count > 0;
      StateHasChanged();
    });
  }

}