@page "/"
@inject IAuthService AuthService

<PageTitle>Home</PageTitle>

<div style="display: flex;gap: 16px;">
    <AicsButton Text="登入" OnClick="Login"></AicsButton>
    <AicsButton Text="登出" OnClick="Logout"></AicsButton>
</div>
@if (_isLogin)
{
    <div>已登入</div>
}
else
{
    <div>未登入</div>
}

@code {

    private bool _isLogin;

    private async Task Login()
    {
        await AuthService.LoginAsync("123");
        _isLogin = true;
    }

    private async Task Logout()
    {
        await AuthService.LogoutAsync();
        _isLogin = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var token = await AuthService.GetTokenAsync();
        _isLogin = !string.IsNullOrEmpty(token);
    }

}
