@page "/"
@inject IAppSetting AppSetting

<PageTitle>Home</PageTitle>

<div style="display: flex;gap: 16px;">
  <AicsButton Text="登入" OnClick="Login"></AicsButton>
  <AicsButton Text="登出" OnClick="Logout"></AicsButton>
</div>
<div>@_text</div>
<div>@Url</div>

@code {

  private string _text = "未登入";

  private async Task Login()
  {
    // await AuthService.LoginAsync("123");
    await Session.SetAsync(JsRuntime, "token", "123");
    _text = "已登入";
  }

  private async Task Logout()
  {
    // await AuthService.LogoutAsync();
    await Session.DeleteAsync(JsRuntime, "token");
    _text = "未登入";
  }

  private string Url => AppSetting.Get("URL:API");

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    var token = await Session.GetAsync(JsRuntime, "token");
    var value = string.IsNullOrEmpty(token) ? "未登入" : "已登入";
    if (value != _text)
    {
      _text = value;
      StateHasChanged();
    }
  }

}
