@page "/"
@using Counting.Shared.Services
@inject ICountingConfig Config

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Your api url is <em>@Api</em>
Your pos url is <em>@Pos</em>.

<AicsButton Text="123" Mode="@ButtonMode.Filled" BeforeString="@Path.Static("/icon/navigation-bar/setting/add.svg")"></AicsButton>

@code {
    private string Api => Config.GetConfig("URL:API");
    private string Pos => Config.GetConfig("URL:POS");
}
